body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e1bee7;
}

header {
    background-color: #6a1b9a;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #fff;
}

main {
    padding: 20px;
}

.boxed-text {
    border: 1px solid #fff;
    padding: 30px;
    background-color: #9c27b0;
    color: #fff;
    position: relative;
	overflow: auto;
	max-height: 50px;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #fff;
    color: #9c27b0;
    border: none;
    cursor: pointer;
	z-index: 2;
}

.notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50; /* Green background color */
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}
